*.tar
*.gz
*.xz
*.raw
*.img
*.tmp
.venv
.shadow
.direnv
packer_cache/
box/
repo/apt/
repo/apt-deps/
repo/rpm/
repo/rpm-deps/
repo/patches/
pkg/*.deb
pkg/*.rpm
aws/billing/
azure/xdp-standard/temp
.tmp
.vs
.vscode
.lego
*.rpm
tmp
tdhtest
*.qcow2
node_modules
**/.DS_Store
packaged-sam.yaml
.terraform
GuardRails/libunwind-1.3-rc1
GuardRails/libunwind-1.3*
ansible/inventory
.pkg
