# vim: ft=yaml
extends: default

rules:
  document-start: disable
  # 80 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 140
    level: warning

  # don't bother me with this rule
  indentation:
    indent-sequences: consistent
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
