ansible
ansible-modules-hashivault
aws-sam-cli>=1.1.0
azure-storage-blob>=2.1.0
azure-storage-common>=2.1.0
azure-storage-queue>=2.1.0
bumpversion
cfn-flip
cookiecutter
crcmod
#diceware
docker>=4.2.0
e2j2
flake8
git-review
jinja2-cli[yaml]
#jupyterlab
localstack
pip-tools
pre-commit
#ptvsd
pylint
pytest
pytest-benchmark
pytest-tap
python-consul
PyYAML
requests
#sceptre
sentry-sdk==0.16.2
testinfra
troposphere[policy]
warrant
yamllint
yapf
taskcat
#pyls
#python-language-server
