https://{{ region }}.console.aws.amazon.com/cloudformation/home?region={{ region -}}#/stacks/quickcreate?templateUrl={{ templateUrl | urlencode | replace("/", "%2A") }}&{%if stackName %}stackName={{ stackName }}&CNAME={{ stackName | lower}}&{% endif %}param_AdminUsername={{ AdminUsername }}&param_AllowedCIDR={{ AllowedCIDR | urlencode | replace("/", "%2A") }}&param_AssociatePublicIpAddress={{ AssociatePublicIpAddress | default(true) }}&param_ClusterSize={{ ClusterSize }}&param_ExistingS3={{ ExistingS3 }}&param_ExistingShare={{ ExistingShare }}&param_InstanceType={{ InstanceType }}&param_KeyName={{ KeyName }}&param_RootSize={{ RootSize | default(32) }}&param_Subnet={{ Subnet }}&param_VpcId={{ VpcId }}
