attrs
aws-lambda-builders
aws-sam-cli
aws-sam-translator
boto3
botocore
cfn-lint
click
cookiecutter
dateparser
docker
Flask
jinja-cli
Jinja2
jinja2-time
jmespath
jsonschema
pip-tools
requests
serverlessrepo
tomlkit
Werkzeug
