[Unit]
Description=Setup ephemeral disk
Requires=ephemeral-data.mount ephemeral-units.service lvm2-monitor.service
After=lvm2-monitor.service
Before=local-fs.target ephemeral-data.mount ephemeral-units.service
ConditionPathIsMountPoint=!/ephemeral/data

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/ephemeral-scripts/ephemeral-disk_start
TimeoutStartSec=300
ExecStop=/etc/ephemeral-scripts/ephemeral-disk_stop

[Install]
WantedBy=local-fs.target
