https://console.aws.amazon.com/cloudformation/home?region={{ region | default('us-east-1') }}#/stacks/create/review?templateURL={{ templateURL | urlencode }}&stackname={{ stackName | default('MyXcalar') }}
