https://us-west-2.console.aws.amazon.com/cloudformation/home?region=us-west-2#/stacks/quickcreate
?templateUrl={{ templateUrl }}
&stackName={{ stackName }}
&param_AdminEmail=foo%40xcalar.com
&param_AdminUsername=xdpadmin
&param_AllowedCIDR=0.0.0.0%2F0
&param_AssociatePublicIpAddress=true
&param_BootstrapUrl={{ userdataUrl }}
&param_ClusterAccessSGId=sg-0cf75f6a
&param_ClusterSize=3
&param_CustomScriptUrl=
&param_Ec2RetryTagKey=aws%3Acloudformation%3Astack-name
&param_Ec2RetryTagValue=
&param_ExistingMount=
&param_ExistingShare=
&param_ExistingVPC=
&param_InstallerUrl=
&param_InstanceType=m5d.2xlarge
&param_KeyName=xcalar-us-west-2
&param_RootSize=32
&param_Subnet=subnet-b9ed4ee0
&param_VpcId=vpc-22f26347
