[remote "gcegit"]

	url = git@git.xcalar.net:/gitrepos/${name}.git

	push = +refs/heads/*:refs/heads/*
	push = +refs/tags/*:refs/tags/*
	projects = xcalar
	projects = xcalar/xcalar-gui
	projects = xcalar/xcalar-idl
	projects = puppet
	replicationDelay = 0
	threads = 4


[remote "xcgit"]

	url = git@git:/gitrepos/replication/${name}.git

	push = +refs/heads/*:refs/heads/*
	push = +refs/tags/*:refs/tags/*
#	push = +refs/changes/*:refs/changes/*

[remote "awshttps"]

	url = https://git-codecommit.us-west-2.amazonaws.com/v1/repos/${name}
        remoteNameStyle = basenameOnly
	push = +refs/heads/*:refs/heads/*
	push = +refs/tags/*:refs/tags/*
#	push = +refs/changes/*:refs/changes/*
#	push = +refs/drafts/*:refs/drafts/*
	projects = xcalar
	projects = xcalar/xcalar-gui
	projects = xcalar/xcalar-idl
	projects = xcalar/xcalar-infra
	projects = puppet
	replicationDelay = 1
	threads = 4

#[remote "awsgit"]
#
#	url = ssh://git-codecommit.us-west-2.amazonaws.com/v1/repos/${name}
#       remoteNameStyle = basenameOnly
#	push = +refs/heads/*:refs/heads/*
#	push = +refs/tags/*:refs/tags/*
#	push = +refs/changes/*:refs/changes/*
#	push = +refs/drafts/*:refs/drafts/*
#	projects = xcalar
#	projects = xcalar/xcalar-gui
#	projects = puppet
#	replicationDelay = 0
#	threads = 4
