# CentOS 7.x kickstart file - ks7.cfg
#
# For more information on kickstart syntax and commands, refer to the
# CentOS Installation Guide:
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Installation_Guide/sect-kickstart-syntax.html
#
# For testing, you can fire up a local http server temporarily.
# cd to the directory where this ks.cfg file resides and run the following:
#    $ python -m SimpleHTTPServer
# You don't have to restart the server every time you make changes.  Python
# will reload the file from disk every time.  As long as you save your changes
# they will be reflected in the next HTTP download.  Then to test with
# a PXE boot server, enter the following on the PXE boot prompt:
#    > linux text ks=http://<your_ip>:8000/ks.cfg

# Required settings
lang en_US.UTF-8
keyboard us
rootpw  --iscrypted $6$HDfbdY5IPCMR4Zul$qIjZpp8R70o6JTfqEzUowrvla9E2GBrECwiseobUQpoNbOU.5kinq9GAdQdbuBHqV/OgC/goP/SdwhO80oOmg/
authconfig --enableshadow --enablemd5 --passalgo=sha512
timezone America/Los_Angeles

# Optional settings
install
url --url http://10.10.2.136/isos/centos/7.3/os/x86_64/ --proxy http://10.10.7.78:3128
#cdrom
group --name=docker --gid=999
user --name=jenkins --plaintext --password $6$vPean6CmMEZl.QWF$a7BT2BOf4rjR7tvc5gutkf9cMshwfsUpNKiNfmV5oElyubUv2UlIgSqYCkj0SoBSF80sBBpk8fN6lI9DZiHop1 --iscrypted --groups=docker --uid=1000 --shell=/bin/bash
unsupported_hardware
network --bootproto=dhcp
firewall --disabled
selinux --permissive
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
part /boot --fstype=ext4 --size=500
part swap --size=32768
part pv.01  --size=1024 --grow
volgroup vg00 pv.01
logvol /var/lib/docker --vgname=vg00 --fstype=xfs --size=16384 --name=lv_docker
logvol / --vgname=vg00 --fstype=xfs --size=10000 --grow --name=lv_root
firstboot --disabled
reboot

%packages --nobase --ignoremissing --excludedocs
#@base
#@core
# vagrant needs this to copy initial files via scp
openssh-clients
openssh-server
# Prerequisites for installing VMware Tools or VirtualBox guest additions.
# Put in kickstart to ensure first version installed is from install disk,
# not latest from a mirror.
kernel-headers
kernel-devel
gcc
make
#perl
curl
#wget
bash
bzip2
#dkms
patch
#net-tools
git
# Core selinux dependencies installed on 7.x, no need to specify
# Other stuff
sudo
nfs-utils
ovirt-guest-agent-common
java-1.8.0-openjdk-headless
epel-release
-fprintd-pam
-intltool

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-irqbalance
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
# configure vagrant user in sudoers
http_proxy=http://cacher:3128 yum update -y
echo "%jenkins ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/jenkins
chmod 0440 /etc/sudoers.d/jenkins
cp /etc/sudoers /etc/sudoers.orig
sed -i "s/^\(.*requiretty\)$/#\1/" /etc/sudoers
# keep proxy settings through sudo
echo 'Defaults env_keep += "HTTP_PROXY HTTPS_PROXY FTP_PROXY RSYNC_PROXY NO_PROXY"' >> /etc/sudoers
/etc/init.d/sshd restart
%end
