[
    {
        "ParameterKey": "vpccidr",
        "UsePreviousValue": true
    },
    {
        "ParameterKey": "deploynatgw",
        "UsePreviousValue": true
    },
    {
        "ParameterKey": "privateacidr",
        "UsePreviousValue": true
    },
    {
        "ParameterKey": "psharedacidr",
        "UsePreviousValue": true
    },
    {
        "ParameterKey": "privatebcidr",
        "UsePreviousValue": true
    },
    {
        "ParameterKey": "psharedbcidr",
        "UsePreviousValue": true
    }
]
