  <proxies>
   <proxy>
      <id>{{ proxy_name }}</id>
      <active>{{ proxy_active }}</active>
      <protocol>{{ proxy_protocol }}</protocol>
      <host>{{ proxy_host }}</host>
      <port>{{ proxy_port }}</port>
      <username>{{ proxy_user }}</username>
      <password>{{ proxy_pass }}</password>
      <nonProxyHosts>{{ proxy_nonhosts }}</nonProxyHosts>
    </proxy>
  </proxies>
