<!DOCTYPE html>
<html>
<body>
<style>
body {font-size: 14px;}
h1   {font-size: 30px; 
	text-align: center;}
</style>
<h1>License Key Not Found</h1>
<p>To get your license key, follow these steps:<br>
 1. Click the <q>Submit a Request</q> link to request a license key.<br>
 2. A questionnaire about your setup environment must be completed before you proceed to the next step. Download the questionnaire here: (S3 link goes here)<br>
 3. Fill out the request form, selecting <q>New License</q> for Category.<br> 
 4. Attach the completed questionnaire to your request.<br><br>
After you have submitted the request, we will contact you as soon as possible with your new license key, which you can then view here. 
</p>
</body>
</html>